<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045511573379-5jj3rm2568b7jfh23gpdn4ksdfht29k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045511573379-5jj3rm2568b7jfh23gpdn4ksdfht29k2</string>
	<key>API_KEY</key>
	<string>AIzaSyCzGZriAE-GsuSoXDpFtH31oDJ_qbl-4vk</string>
	<key>GCM_SENDER_ID</key>
	<string>1045511573379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientApp</string>
	<key>PROJECT_ID</key>
	<string>gsdcmacs-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>gsdcmacs-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045511573379:ios:f73d3caa989cb398acf0b6</string>
</dict>
</plist>